<section class="vbox">
  <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
    <m-header [searchKey]="search"></m-header>
  </header>
  <section>
    <section class="hbox stretch">
      <aside class="bg-black dk aside hidden-print nav-xs" id="nav">
        <section class="vbox">
          <m-menu></m-menu>
        </section>
      </aside>
      <section id="content">
        <section class="hbox stretch">
          <section>
            <section class="vbox">
              <section class="scrollable padder-lg w-f-md" id="bjax-target">
                <router-outlet></router-outlet>
              </section>
              <footer class="footer bg-dark">
                <m-player></m-player>
              </footer>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
